<div class="container mt-5">
  <h4>Internal Server Error -refreshing the page will make exception dissapper</h4>
  <h5 class="text-danger">Error: {{error.message}}</h5>
  <p class="font-weight-bold">Note: If you are seeng this then Angular is probably not responsible</p>
  <p>What to do next?</p>
    <ol>
      <li>Ореn Chrome dev tools </li>
      <li>Inspect Network tab </li>
      <li>Examine this request URL - make sure this is correct</li>
      <li>Reproduce the error in postman</li>
    </ol>
    <code class="mt-5" style="background-color: whitesmoke">{{error.details}}</code>
</div>
